/* 
    Document   : style
    Created on : Sep 16, 2013, 4:09:26 PM
    Author     : sjonnala
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html{
	padding:0;
	margin:0;
}
body{
	margin:0 auto;
	padding:0;
	padding-top:51px;
	padding-bottom:30px;
}

.footer{
	height:60px;
	border-top:1px solid #EEEEEE;
	padding:10px;
}
.centerWithMargin{
	margin:0 auto;
}
.form-signin {
  max-width: 500px;
  margin: 0 auto;
}
.text-color-green{
	color:#468847 !important;
}
.text-color-red{
	color:#b94a48 !important;
}
.border-bottom{
	border-bottom:1px solid;
	border-bottom-color: inherit;
}

.mapBuilderContainer{
	cursor:crosshair;
	position:relative;
	padding:0;
	margin:0;
	border:none;
}
.mapBuilder{
}

.buildingDemarcation{
	position:absolute;
	cursor:pointer;
	border:2px dashed #ec1010;
}
.listOfLabs{
	display:none;
	position:relative;
	left:100%;
	top:0px;
	background-color:#FFF;
	font-size:12px;
	width:200px;
	min-height:10px;
}
.buildingDemarcation:hover > .listOfLabs{
	display:block;
}
.mapLabListHeading{
	height:20px;
	padding:2px 3px;
	margin-bottom:3px;
	border:1px solid #d0d0d0;
}
