.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/bgImages/*
application/bgImages/thumbs/*

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject/private/