.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/bgImages/*
!application/bgImages/index.html
application/bgImages/thumbs/*
!application/bgImages/thumbs/index.html

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject/private/